/* Dark theme */
body {
  background-color: #111;
  color: #eec;
}

h1 {
  text-shadow: 0 0 3px #ddb;
}

form {
  background-color: #222;
}

input,
select,
textarea {
  background-color: #333;
  border: 1px solid #333;
  color: #ffd;
  accent-color: #cb6;
}

.radio-label {
  color: #cb6;
}

fieldset:hover .radio-label:hover {
  text-shadow: 0 0 3px #cb6;
}

.question,
#submit {
  background-color: #111;
  border: 1px solid #050505;
  box-shadow: 0 0 2px #050505;
  color: #ddb;
}

#submit:hover {
  background-color: #444;
}
